[Unit]
Description=Decode CAN frames using OBD-II interface and python library
Requires=docker.service
After=docker.service
Wants=docker.service

[Service]
ExecStartPre=/bin/sleep 10
ExecStart=/home/rudloff/sources/CapsuleScripts/devices_driver/can_decoder/.venv/bin/python3 /home/rudloff/sources/CapsuleScripts/devices_driver/can_decoder/decode_can.py
Restart=always
 
[Install]
WantedBy=multi-user.target
